<div *ngIf='!admin'>
    <div class="container-fluid">
        <nav class="navbar navbar-expand">

            <a class="navbar-brand mr-1" style="color:#00AAA9" href="/landingpage">Paradise Financial Group</a>

        </nav>

        <!-- SIDEBAR -->
        <ul class="sidebar navbar-nav">

        </ul>

        <!-- MAIN CONTENT -->
        <div class="content-wrapper">


            <div class="row">
                <div class="col-xl-8 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">

                                    <div class="text-xs font-weight-bold text-uppercase mb-1" style="color:#627C7B">
                                        Something went wrong. Please log in first!
                                    </div><br>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-secondary" routerLink='/landingpage'>Return
                                            to login</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- FOOTER-->
  <footer class="footer">
        <span>
                Paradise is very nice
        </span>
      </footer>
</div>